<%- include('partials/header') %>
<div>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, aperiam. Ipsum odio, deserunt minus mollitia nam nemo perspiciatis quia doloremque, corporis magnam aspernatur tenetur illo dolore, accusantium ratione explicabo quasi harum omnis commodi. Laboriosam neque voluptatem voluptas aperiam debitis quas quos quae, ad architecto, accusantium ab nihil eos eum aliquid magni omnis. Odio in reprehenderit itaque, corporis qui asperiores, ipsum ex voluptas nihil mollitia optio. Fugit adipisci optio eius, omnis dolor reiciendis similique quas quis quasi? Earum repudiandae soluta illo ipsa velit dolores aut ad voluptatum architecto quia dignissimos voluptates fuga, et inventore eum sint adipisci tempora iste atque nemo?
    </p>
</div>



<%- include('partials/footer') %>