<%- include('partials/header') %>
<div>
    <form action="/compose" method="post">
        <label for="">post title</label>
        <input type="text" name="posttitle" id="">
        <label for="">post data</label>
        <textarea name="postData" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="compose">
    </form>
</div>



<%- include('partials/footer') %>