<%- include('partials/header') %>

<div class="blog-container">
    <div class="blogs">
        <h1>blogs</h1>
        <ul>
            <li>
                
            </li>
        </ul>
    </div>

</div>






<%- include('partials/footer') %>