<%- include('partials/header') %>

<div class="blog-container">
    <div class="blogs">
        <h1>blogs</h1>
        <ul class="postList">
            <% Posts.forEach(post => { %>
                <li>
                    <h4><%= post.Title %></h4>
                    <p><%= post.Data %></p>
                </li>
            <% }); %>
            
        </ul>
    </div>

</div>






<%- include('partials/footer') %>