<%- include('partials/header') %>
<div>
    <form action="" method="post">
        <label for="">Email</label>
        <input type="email" name="email" id="">
        <label for="">password</label>
        <input type="password" name="pass" id="">
        <input type="submit" value="login">
    </form>
</div>




<%- include('partials/footer') %>