<%- include('partials/header') %>
<div>
    <form action="" method="post">
        <label for="">Email</label>
        <input type="email" name="username" id="">
        <label for="">password</label>
        <input type="password" name="password" id="">
        <input type="submit" value="register">
    </form>
</div>




<%- include('partials/footer') %>